* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(hearts.jpg);
    font-family: 'Courier New', Courier, monospace;
    background-size: cover;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.content-box {
    background-color: rgba(243, 234, 234, 0.75);
    box-shadow: 0 0 30px #000;
    width: 25rem;
    padding: 1.5rem;
    border-radius: 2em;
}

#calculate {
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

h1 {
    margin-bottom: 1.2rem;
}

h2 {
    margin-top: 1rem;
}

#result-percentage {
    font-size: 2rem;
}
